@outlineTest: 1px solid rgb(188, 188, 188);

/* width */
@widthAll: 1920px;
@widthFooter: 270px;
@widthLogo: 178px;
@widthMenu: 605px;

/* height */
@heightScreen: 163px;
@heightHeader: 83px;
@heightMenu: 77px;
@heightDescription: 766px;
@heightSimilar: 684px;
@heightContactMap: 1449px;
@heightMap: ;
@heightFooter: 71px;

/* margins */
@marginTop: 12px;
@marginMenu: 32px;

/* colors */
@colorBack: #f7f7f7;
@colorSecond: #e3e3e3;
@colorHeader: #4a4a4a;
@colorFooter: #000000;
@colorLink: #f44336;
@colorBorderScreen: #a6a6a6;
@colorMenu: #8c8c8c;

/* fonts */
@font1: Arial;
@font2: Poppins;
@font2-light: PoppinsLight;
@font3: RobotoCondensed;
@font3-light: RobotoCondensedLight;

@font-face {
	font-family: 'Arial';
	src: local('Arial'),
	     url('../fonts/Arial.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PoppinsLight';
	src: local('Poppins'),
	     url('../fonts/Poppins-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Poppins';
	src: local('Poppins'),
	     url('../fonts/Poppins-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RobotoCondensedLight';
	src: local('RobotoCondensed'),
	     url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RobotoCondensed';
	src: local('RobotoCondensed'),
	     url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'icomoon';
	src: local('icomoon'),
	     url('../fonts/icomoon/fonts/icomoon.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
    outline: @outlineTest;
}

html,
body {
    background-color: @colorBack;
    text-align: center;
}

.arial {
    font-family: @font1;
}

.poppinsLight {
    font-family: @font2-light;
}

.poppins {
    font-family: @font2;
}

.robotoCondensedLight {
    font-family: @font3-light;
}

.robotoCondensed {
    font-family: @font3;
}

.allRights {
    padding-right: 0;
    padding-left: 0;
  }

.screen {
    border-bottom: 1px solid @colorBorderScreen;
}

.header {
    margin-top: @marginTop;
    background-color: @colorHeader;
    min-height: @heightHeader;
    min-width: @widthFooter;
    
    a,
    a:active,
    a:visited,
    a:focus {
        color: #ffffff;
        text-decoration: none;
    }
    
    .logo{
        color: #ffffff;
        font-family: @font2;
        font-weight: 500;
        line-height: 14px;
        width: @widthLogo;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 5px;
        
        
        .historical {
            // Style for "Historical"
            font-size: 36px;
            text-transform: capitalize;
            letter-spacing: 1px;
            text-align: center;
            display: inline-block;
            width: @widthLogo;
        }
        
        .games {
            // Style for "GAMES"
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 31px;
            text-align: center;
            display: inline-block;
            width: @widthLogo;
            padding-left: 1px;
        }
    }
    
    .tel,
    .email,
    .search {
        // Style for "+123 456 7"
        color: #ffffff;
        font-family: "Roboto Condensed";
        font-size: 16px;
        font-weight: 400;
        line-height: 22.36px;
        // Text style for "+123 456 7"
        letter-spacing: -0.36px;
    }
    
    .tel {
        text-align: right;
        
        img {
            width: 15px;
            position: relative;
            top: 2px;
        }
        
        .icon-mobile2 {
            padding-top: 1px;
            margin-top: 3px;
            display: inline-block;
        }
    }
    
    .email {
        text-align: left;
        margin-top: 5px;
        p {
            min-width: 157px;
        }
        
        img {
            width: 20px;
            position: relative;
            top: 2px;
        }
        
        .icon-mail {
            display: inline-block;
            color: @colorHeader;
            background-color: #ffffff;
            border-radius: 4px;
            height: 18px;
            width: 19px;
            font-size: 23px;
            margin-top: -5px;
            position: relative;
            left: -3px;
            top: 6px;
            
            span {
                font-family: icomoon;
            }
        }
        
    }
    
    .search {
        min-width: 165px;
        
        input {
            background-color: @colorHeader;
            color: #ffffff;
            border: 1px solid #ffffff;
            width: 130px;
            height: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-left: 5px;
            text-transform: capitalize;
        }
        
        button {
            background-color: @colorHeader;
            color: #ffffff;
            border: 1px solid #ffffff;
            width: 25px;
            height: 25px;
            margin-left: -1px;
            
        }
    }
}

.menu {
    min-width: @widthMenu;
    min-height: @heightMenu;
    background-color: transparent;
    
    // Style for "Home"
    color: @colorMenu;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    
    .menu-item {
        float: left;
        list-style-type: none;
        padding: 26px 15px;
        a,
        a:visited,
        a:focus,
        a:active {
            text-decoration: none;
            color: @colorMenu;
        }
    }
    
    .menu-item:hover {
        border-bottom: 2px solid black;
        a {
            color: black;
        }
        }
    
    .menu-active-item {
        border-bottom: 2px solid black;
        // Text style for "Home"
        a {
        color: #000000 !important;
        }
    }
}


.productDescription {
    min-height: @heightDescription;
    
    // Style for "Assasin’s"
    color: #000000;
    font-family: @font2;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    
    span {
    // Text style for ", Rogue"
    color: #f44336;
    }
}

.redFont {
    color: #f44336;
    font-family: @font2;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}

.productSimilar {
    background-color: @colorSecond;
    min-height: @heightSimilar;
    
    .redFont;    
}

.contactAndMap {
    min-height: @heightContactMap;
    
    .redFont;
    
    .contactUs {
        min-height: @heightContactMap / 2;
    }

    .googleMap {
        min-height: @heightContactMap / 2;
        .googleMapFrame {
            width: 970px;
            height: 300px;
        }
    }
}

.footer {
    min-width:@widthFooter;
    min-height: @heightFooter;
    background-color: @colorFooter;
    color: #ffffff;
    font-family: @font3;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
    
    .leftText {
        text-align: right;
    }
    
    .rightText {
        text-align: left;
    }    
    
    p {
        text-align: center;
        a {
            color: @colorLink;
            letter-spacing: 0.16px;
            text-decoration: none;
        }
    }
}

/* style for round red arrow in the right bottom part of page */

.topArrow {
    position: fixed; /* Фиксированное положение */ 
    right: @widthAll / 50; /* Расстояние от правого края окна браузера */
    bottom: @heightFooter - 20px; /* Расстояние сверху */
    width: 5%;
    div {
        position: relative;
        width: 100%;
        padding-bottom: 78%; /*Отношение высоте к ширине*/
        
        div {
            position: absolute;
            width: 40px;
            height: 40px;
/*
            background-image: url(../img/arrow.png);
            background-color: @colorBack;
            background-position: center;
            background-repeat: no-repeat;    
            background-size: cover;
*/
            a img {
                width: 100%;
            }
        }
    }
}
/*  ------------  @media   --------------*/

@media only screen and (max-width: 575px) {
    .header {
        .tel {
            text-align: center;
        }
        .email {
            text-align: center;
        }
    }
    
    .googleMap {
        .googleMapFrame {
            width: 300px;
            height: 300px;
        }
    }
    
    .footer {
        .leftText {
            text-align: center;
        }
        .centerText {
            width: 100%;
        }
        .rightText {
            text-align: center;
        }
    }
    .topArrow {
        div {
            div {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .tel {
        text-align: right;
    }
    
    .email {
        text-align: left;
    }
    
    .googleMap {
        .googleMapFrame {
            width: 550px;
            height: 300px;
        }
    }
    .topArrow {
        div {
            div {
                width: 25px;
                height: 25px;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    
    .googleMap {
        .googleMapFrame {
            width: 740px;
            height: 300px;
        }
    }
    
    .topArrow {
        div {
            div {
                width: 30px;
                height: 30px;
            }
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1366px) {
    
    .googleMap {
        .googleMapFrame {
            width: 970px;
            height: 300px;
        }
    }    
    
    .topArrow {
        div {
            div {
                width: 35px;
                height: 35px;
            }
        }
    }
}

